* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-color: #fffdf3;
  --light-color: #f0ead2;
  --light-green: #dde5b6;
  --dark-green: #839557;
  --light-brown: #a98467;
  --dark-brown: #6c584c;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--neutral-color);
}

a {
  text-decoration: none;
  color: var(--dark-brown);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  background: var(--light-green);
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--light-brown);
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

/* making space for icons */
.navbar ul li a i {
  margin-right: 10px;
}

/* Hero */
.hero {
  margin-bottom: 50px;
}

.hero .container {
  background: url('../images/hero-bg.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .hero-content {
  width: 70%;
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}

.footer a {
  color: var(--light-color);
  transition: 0.5s;
}

.footer a:hover {
  color: var(--neutral-color);
}

.footer i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .card {
  margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--dark-brown);
  border-radius: 5px;
  margin: 20px 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--neutral-color);
  color: var(--dark-brown);
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--light-green);
  color: var(--dark-brown);
}

.btn-primary:hover {
  color: var(--light-brown);
}

.btn-dark {
  background: var(--dark-green);
  color: #333
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  color: var(--dark-brown);
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-primary {
  background: var(--neutral-color);
  color: #fff;
}

.bg-light {
  background: var(--light-green);
  color: #333;
}

.bg-dark {
  background: var(--dark-green);
  color: var(--neutral-color);
}